<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="artMapper">

	<resultMap id="ArtResultSet" type="Art">
		<id property="artNo" column="ART_NO"/>
		<result property="artType" column="ART_TYPE"/>
		<result property="artTitle" column="ART_TITLE"/>
		<result property="artExplain" column="ART_EXPLAIN"/>
		<result property="count" column="COUNT"/>
		<result property="address" column="ADDRESS"/>
		<result property="companyNo" column="COMPANY_NO"/>
		<result property="rating" column="RATING"/>
		<result property="status" column="STATUS"/>
		<result property="durationTime" column="DURATION_TIME"/>
		<result property="sale" column="SALE"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
	</resultMap>  
	
	<resultMap id="DetailResultSet" type="ArtDetail">
		<id property="artNo" column="ART_NO"/>
		<result property="artType" column="ART_TYPE"/>
		<result property="artTitle" column="ART_TITLE"/>
		<result property="artExplain" column="ART_EXPLAIN"/>
		<result property="address" column="ADDRESS"/>
		<result property="companyNo" column="COMPANY_NO"/>
		<result property="age" column="AGE"/>
		<result property="durationTime" column="DURATION_TIME"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="companyPhone" column="PHONE"/>
		<result property="companyInfo" column="COMPANY_INFO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
	</resultMap>
	
	<resultMap id="ATResultSet" type="ArtTime">
		<id property="timeNo" column="TIME_NO"/>
		<result property="actor" column="ACTOR"/>
		<result property="dateTime" column="DATE_TIME"/>
		<result property="dateCount" column="DATE_COUNT"/>	
		<result property="artNo" column="ART_NO"/>	
	</resultMap>
	
	<resultMap id="SeatResultSet" type="Seat">
		<id property="seatName" column="SEAT_NAME"/>
		<result property="timeNo" column="TIME_NO"/>
		<result property="artNo" column="ART_NO"/>
		<result property="status" column="STATUS"/>	
		<result property="price" column="PRICE"/>	
	</resultMap>
	
	<resultMap id="ImgResultSet" type="Img">
		<id property="imgNo" column="IMG_NO"/>
		<result property="artNo" column="ART_NO"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="changeDate" column="CHANGE_DATE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	
	<resultMap id="alarmResultSet" type="Alarm">
		<id property="alarmNo" column="per_no" />
		<result property="artTitle" column="art_title" />
		<result property="artNo" column="art_no" />
		<result property="enrollDate" column="per_enrolldate" />
		<result property="alarmDate" column="alarm_Date" />
		<result property="ticketingDate" column="ticketing_Date"/>
	</resultMap>
	
	<select id="selectList" resultMap="ArtResultSet">
		SELECT *
		FROM ART
		JOIN TICKET_DATE USING(ART_NO)
		JOIN IMG I USING(ART_NO)
		WHERE STATUS='Y' AND I.FILE_LEVEL=0 AND ART_TYPE=#{type}
		ORDER BY ART_NO DESC
	</select>
	
	<select id="selectOne" resultMap="DetailResultSet">
		SELECT ART_NO,
		ART_TYPE,
		ART_TITLE ,
		ART_EXPLAIN,
		ADDRESS,
		COMPANY_NO,
		AGE,
		DURATION_TIME,
		COMPANY_NAME,
		PHONE,
		COMPANY_INFO,
		START_DATE,
		END_DATE
		FROM ART  A
		JOIN COMPANY C USING(COMPANY_NO)
		JOIN TICKET_DATE USING(ART_NO)
		JOIN RATING USING(RATING)
		WHERE ART_NO=#{artNo}
	</select>
	
	<update id="updateCount">
		UPDATE ART SET COUNT=COUNT+1 
		WHERE ART_NO = #{artNo}
	</update>
	
	<select id="selectATime" resultMap="ATResultSet">
		SELECT * 
		FROM ART_TIME
		WHERE ART_NO =#{artNo}
	</select>
	
	<select id="seat" resultMap="SeatResultSet">	
		SELECT  (SELECT COUNT(*) 
		                FROM SEAT
		                WHERE ART_NO=${artNo}
		                AND TIME_NO =${timeNo}
		                AND STATUS='Y') AS 남은좌석  , COUNT(*) AS 총좌석
		FROM SEAT
		WHERE ART_NO=${artNo}
		AND TIME_NO=${timeNo}
		GROUP BY ART_NO
	</select>
	
	<select id="selectSeatAllCount" resultType="_int">
		SELECT COUNT(*)
		FROM SEAT
		WHERE ART_NO=#{artNo}
		AND TIME_NO=#{timeNo}
	</select>
	
	<select id="selectSeatYCount"  resultType="_int">
		SELECT COUNT(*)
		FROM SEAT
		WHERE ART_NO=#{artNo}
		AND TIME_NO =#{timeNo}
		AND STATUS='Y' 
	</select>
	
	<select id="selectSeatList" resultMap="SeatResultSet">
		SELECT *
		FROM SEAT
		WHERE TIME_NO =#{timeNo}
		AND ART_NO=#{artNo}
		ORDER BY 1
	</select>
	
	<insert id="insertArt">
		INSERT INTO ART VALUES(
			SEQ_ANO.NEXTVAL,
			#{artType},
			#{artTitle},
			NULL,
			DEFAULT,
			#{address},
			#{companyNo},
			#{rating},
			DEFAULT,
			#{durationTime},
			#{sale}
		)
	</insert>
	
	<insert id="insertPurchase">
		INSERT INTO PURCHASE VALUES(
			SEQ_PNO.NEXTVAL,
			#{mNo},
			#{seatName},
			#{seatSal},
			#{type},
			DEFAULT,
			#{purchaseCount},
			NULL,
			#{timeNo},
			#{artNo}
		)
	</insert>
	<update id="updateSeat">
		UPDATE SEAT SET STATUS='N'
		WHERE SEAT_NAME=#{seatName} AND ART_NO=#{artNo} AND TIME_NO=#{timeNo}
	</update>

	<insert id="insertImg">
		INSERT INTO IMG VALUES(
			SEQ_IMGNO.NEXTVAL,
			SEQ_ANO.CURRVAL, 
			#{originName},
			#{changeName},
			#{filePath},
			SYSDATE,
			#{fileLevel}
		)
	</insert>
	<select id="selectImg" resultMap="ImgResultSet">
		SELECT * 
		FROM IMG
		WHERE ART_NO = #{artNo}
	</select>
	
	<insert id="insertArtTime">
		INSERT INTO ART_TIME VALUES(
			SEQ_TNO.NEXTVAL,
			SEQ_ANO.CURRVAL, 
			#{dateCount},
			#{actor},
			#{dateTime}
		)	
	</insert>
	<insert id="insertExArtTime">
		INSERT INTO ART_TIME VALUES(
			SEQ_TNO.NEXTVAL,
			SEQ_ANO.CURRVAL, 
			1,
			'전시상품은 배우가 없습니다.',
			SYSDATE
		)	
	</insert>
	

	<insert id="insertJjim">
		INSERT INTO PERSONAL VALUES(
			PER_SEQ.NEXTVAL,
			#{alarmNo},
			NULL,
			1,
			SYSDATE,
			#{artNo}
		)
	</insert>
	
	<delete id="deleteJjim" parameterType="_int">
		DELETE FROM PERSONAL
		WHERE ART_NO = #{artNo} 
		AND M_NO=#{alarmNo}
	</delete>
	
	<select id="selectjjim" resultType="_int">
		SELECT COUNT(*)
		FROM PERSONAL
		WHERE ART_NO =#{artNo} AND M_NO=#{alarmNo}
	</select>
	
	<select id="selectCountJjim" resultType="_int">
		SELECT COUNT(*)
		FROM PERSONAL
		WHERE ART_NO=#{artNo} AND PER_TYPE=1
	</select>
	<select id="selectCountReply" resultType="_int">
		SELECT COUNT(*)
		FROM REPLY
		WHERE ART_NO=#{artNo} AND STATUS ='Y'
	</select>
	
	<insert id="insertTicketDate">
		INSERT INTO TICKET_DATE VALUES(
			SEQ_ANO.CURRVAL , #{ticketingDate} ,#{startDate} , #{endDate}
		)
	</insert>
	
	<insert id="insertCompany">
		INSERT INTO COMPANY VALUES(
			SEQ_CP_NO.NEXTVAL , #{companyName},#{phone},#{companyInfo}
		)
	</insert>
	
	<select id="selectATdateTime" resultMap="ATResultSet">
		SELECT * FROM ART_TIME
		WHERE ART_NO = #{artNo} AND DATE_COUNT= #{dateCount}
	</select>
	
	
	<insert id="insertSeat">
		INSERT INTO SEAT (SEAT_NAME , ART_NO , TIME_NO , STATUS , PRICE)
		SELECT SEAT_NAME , ART_NO,TIME_NO , STATUS , PRICE FROM SEAT_FORM WHERE ART_NO = #{artNo} AND TIME_NO = #{timeNo}
	</insert>
	
	<select id="selectArtNo" resultType="_int">
		SELECT SEQ_ANO.CURRVAL FROM DUAL
	</select>
	
	<insert id="insertExhibitionSeat">
		INSERT INTO SEAT VALUES(
			'입장권' , SEQ_ANO.CURRVAL , 1 , 'Y' , '35000'
		)
	</insert>
	
	<select id="searchArt" resultMap="ArtResultSet">
		SELECT * FROM ART
		JOIN TICKET_DATE USING(ART_NO)
		JOIN IMG I USING(ART_NO)
		WHERE STATUS='Y' AND I.FILE_LEVEL=0 AND ART_TITLE LIKE  '%'||#{title}||'%'
	</select>
	
	<select id="selectCompany" resultMap="DetailResultSet">
		SELECT * FROM COMPANY
	</select>
	
	<select id="selectRank" resultMap="ArtResultSet">
		SELECT * 
		FROM ART
		JOIN IMG I USING(ART_NO)
		WHERE STATUS='Y' AND I.FILE_LEVEL=0 AND ART_TYPE=#{i}
		AND ROWNUM <![CDATA[<=]]> 3
		ORDER BY COUNT DESC
	</select>
	

	<update id="deleteArt">
		UPDATE ART
		SET STATUS = 'N'
		WHERE ART_NO = #{artNo}
	
	</update>
	

	<update id="updateArt">
		UPDATE ART SET ART_TYPE=#{artType}, 
		ART_TITLE=#{artTitle}, 
		ADDRESS=#{address}, 
		COMPANY_NO=#{companyNo}, 
		RATING= #{rating},
		DURATION_TIME= #{durationTime},
		SALE=#{sale}
		WHERE ART_NO = #{artNo}
	</update>
	
	<update id="updateImg">
		UPDATE IMG SET ORIGIN_NAME=#{originName}, 
		CHANGE_NAME=#{changeName},
		FILE_PATH=#{filePath},
		CHANGE_DATE=SYSDATE,
		FILE_LEVEL=#{fileLevel}
		WHERE ART_NO = #{artNo} AND FILE_LEVEL = #{fileLevel}
	</update>
	
	<update id="updateTicketDate">
		UPDATE TICKET_DATE SET TICKETING_DATE = #{ticketingDate} ,
		START_DATE=#{startDate} ,
		END_DATE=#{endDate}
		WHERE ART_NO = #{artNo}
	</update>


</mapper>
