<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">
	<resultMap id="ticketResultSet" type="Ticket">
		<id property="tNo" column="purchase_no" />
		<result property="tDate" column="buy_date" />
		<result property="artTitle" column="art_title" />
		<result property="viewDate" column="date_time" />
		<result property="ticketCount" column="purchase_count" />
		<result property="artNo" column="art_no" />
		<result property="status" column="REFUNDS" /> <!-- 가짜이룸 -->
		<result property="wayBill" column="wayBill_number" />
		<result property="address" column="address" />
		<result property="seat" column="seat_name" />
		<result property="receiveMethod" column="type" />

		<result property="originalFile" column="original_File" />
		<result property="renameFile" column="RENAME_FILE" />
		<result property="price" column="price" />
		<result property="artType" column="art_type" />
	</resultMap>

	<resultMap id="PerformanceResultSet" type="ArtDetail">
		<id property="artNo" column="ART_NO" />
		<result property="artType" column="ART_TYPE" />
		<result property="artTitle" column="ART_TITLE" />
		<result property="address" column="ADDRESS" />
		<result property="originalFile" column="ORIGINAL_FILE" />
		<result property="renameFile" column="RENAME_FILE" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
	</resultMap>


	<resultMap id="alarmResultSet" type="Alarm">
		<id property="alarmNo" column="per_no" />
		<result property="performanceName" column="art_name" />
		<result property="performanceNo" column="art_no" />
		<result property="enrollDate" column="per_enrolldate" />
		<result property="alarmDate" column="alarm_Date" />
	</resultMap>

	<select id="selectRHistory" parameterType="Ticket"
		resultMap="ticketResultSet">
		SELECT p.purchase_no, buy_date, art_title, date_time, purchase_count,
		p.art_no, CASE WHEN r.STATUS='Y' THEN '환불대기중'
		WHEN r.STATUS='Y' THEN '환불 완료' ELSE '예매완료'
		END AS REFUNDS, wayBill_number FROM PURCHASE p
		JOIN ART a on(p.ART_NO=a.ART_NO)
		JOIN ART_TIME td on(td.ART_NO=a.art_no)
		JOIN REFUND r on(p.PURCHASE_NO=r.purchase_no)
		WHERE M_NO=#{id} AND BUY_DATE<![CDATA[  <=  ]]> add_months(sysdate,-3)
		ORDER BY DATE_TIME DESC
	</select>

	<select id="selectRView" parameterType="Ticket"
		resultMap="ticketResultSet">
		SELECT * FROM PURCHASE p
		JOIN ART a on(p.ART_NO=a.ART_NO)
		JOIN ART_TIME
		td on(td.ART_NO=a.art_no)
		WHERE M_NO=#{id}
		AND
		DATE_TIME<![CDATA[ <  ]]>
		TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') AND
		ROWNUM <![CDATA[ <=]]>
		3
		ORDER
		BY DATE_TIME DESC
	</select>

	<select id="selectRInterest" resultMap="ticketResultSet">
		SELECT * FROM PERSONAL PER
		JOIN ART A ON(PER.ART_NO=A.ART_NO)
		JOIN TICKET_DATE T ON(per.art_no=t.art_no )
		WHERE PER_TYPE=1 AND M_NO=#{ID}
		AND ROWNUM <![CDATA[<=]]>3
		ORDER BY PER_ENROLLDATE DESC
	</select>

	<select id="selectTicketList" parameterType="Ticket"
		resultMap="ticketResultSet">
		SELECT p.purchase_no, buy_date, art_title, date_time, purchase_count,
		p.art_no, CASE WHEN r.STATUS='Y' THEN '환불대기중'
		WHEN r.STATUS='Y' THEN '환불 완료' ELSE '예매완료'
		END AS REFUNDS, wayBill_number,original_file,rename_file FROM PURCHASE p
		JOIN ART a on(p.ART_NO=a.ART_NO)
		JOIN ART_TIME td on(td.ART_NO=a.art_no)
		JOIN REFUND r on(p.PURCHASE_NO=r.purchase_no)
		WHERE M_NO=#{id}
		ORDER BY DATE_TIME DESC
	</select>

<!-- parameterClass="java.util.Map" -->
	<select id="selectTicketDetail" parameterType="Ticket"
		resultMap="ticketResultSet">
		SELECT p.purchase_no, buy_date, art_title, date_time, purchase_count,
		p.art_no, wayBill_number, p.seat_name, type, at.time_no, art_type,
		CASE WHEN r.STATUS='Y' THEN '환불대기중'
		WHEN r.STATUS='Y' THEN '환불 완료' ELSE '예매완료'
		END AS REFUNDSFROM PURCHASE p
		JOIN ART a on(p.ART_NO=a.ART_NO)
		JOIN ART_TIME at on(at.ART_NO=a.art_no)
		JOIN REFUND r on(p.PURCHASE_NO=r.purchase_no)
		JOIN SEAT s on(s.time_no=at.time_no)
		WHERE M_NO=#{id}
		ORDER BY DATE_TIME DESC
	</select>
	
	
	<select id="selectInterest" parameterType="ArtDetail"
		resultMap="PerformanceResultSet">
		SELECT * FROM PERSONAL
		JOIN ART USING(ART_NO)
		WHERE PER_TYPE=1 AND M_NO= #{ID}
	</select>
	
	<select id="selectAlarmList" parameterType="ALarm"
		resultMap="alarmResultSet">
		SELECT * FROM PERSONAL
		JOIN ART USING(ART_NO)
		WHERE PER_TYPE=2
		AND M_NO= #{ID}
	</select>

	<select id="selectViewList" parameterType="Ticket"
		resultMap="alarmResultSet">
		SELECT * FROM PURCHASE
		JOIN ART USING(ART_NO)
		JOIN ART_TIME USING(TIME_NO,ART_NO)
		WHERE DATE_TIME <![CDATA[< ]]>TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')

		<!-- UNION
		
		SELECT COMMENT_NO, CONTENT -->
	</select>

	<insert id="insertAlarm">
		INSERT INTO PERSONAL
		VALUES(PER_SEQ.NEXTVAL,#{ID},
		(SELECT TICKETING_DATE FROM TICKET_DATE WHERE ART_NO=#{pNO})-1/24,
		2,SYSDATE,#{pNO} )
	</insert>
	
	<insert id="insertInterest">
		INSERT INTO PERSONAL
		VALUES(PER_SEQ.NEXTVAL,#{ID},NULL,1,SYSDATE,#{artNO} )
	</insert>
	
	
	<select id="selectNotice" resultMap="PerformanceResultSet">
		SELECT * FROM ART
		JOIN TICKET_DATE USING(ART_NO)
		WHERE TICKETING_DATE <![CDATA[>]]> TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
	</select>
	
	<select id="selectNoticeDetail" resultMap="PerformanceResultSet">
		SELECT * FROM ART 
		JOIN ART_TIME USING(ART_NO)
		WHERE ART_NO=#{artNo}
	</select>
</mapper>